@charset "UTF-8";
@font-face {
    font-family: "myfont";
    src: url(fontes/idroid.otf);
}
@font-face {
    font-family: "title";
    src: url(fontes/BebasNeue-Regular.ttf);
}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8E7C2;
}
header {
    background: linear-gradient(to bottom, #39CD7B, #32b46a, #195c36);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px #00000033;
}
h1#title {
    font-family: "title", Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: normal;
    text-shadow: 4px 4px 8px #2a965b;
}
h2#subtitle{
    font-weight: normal;
    text-shadow: 4px 4px 8px #1e6b41;
}
nav {
    text-align: left;
}
nav > a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 4px;
    font-weight: 700;
    text-shadow: 4px 4px 8px #13472a;   
    transition: background-color 0.8s ease;
    padding: 14px 10px;
    border-radius: 5px;  
}
nav > a:hover {
    background-color: #39CD7B;
    margin: 4px;
    padding: 14px 10px;
    border-radius: 5px;
    color: #195c36;
    transition: background-color 0.5s ease;
}
main {
    padding: 20px;
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #d5d4b3;
}
h1#titlemain {
    font-family: "myfont", Arial, Helvetica, sans-serif;
    color: #195c36;
    font-size: 40px;
    font-weight: normal;
}
strong {
    color: #195c36;
}
.subtitlemain {
    font-family: "myfont", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #195c36;
    background: linear-gradient(to right,#6ccd96 ,#b5fcd5 ,#ffffff );
    padding: 5px;
    
}   
p {
    text-indent: 30px;
    text-align: justify;
}
.link {
    color: #39CD7B;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.5s ease;
}
.link:hover {
    color: #195c36;
    background-color: #39CD7B;
    text-decoration: underline;
    transition: color 0.5s ease;
}
picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.video {
    background-color: #13472a;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
.video > iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}
div#list {
    background-color: #C5EBD6;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin-top: 0px;
    border-radius: 30px;
    box-shadow: 2px 2px 8px rgb(189, 189, 189);
}
ul { 
    columns: 2;
}
h3 {
    background-color: #2FA866;
    padding: 10px;
    margin: -5px -5px 0px -6px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
footer {
background-color: #1A5C38;
width: 100%;
height: 30px;
margin-bottom: 0px;
}
p#credtis {
    padding-top: 5px;
    text-align: center;
    color: white;
}